.calculator-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.calculator-components {
  width: 50%;
  height: 80%;
  border: 1px solid gray;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-row-gap: 1px;
}

.Display {
  width: 100%;
  height: 100%;
  grid-area: 1 / 1 / 2 / 5;
  text-align: end;
  background-color: rgb(143, 143, 143);
}

.Display > p {
  padding: 0;
  margin: 1rem 1% 0 0;
  align-self: center;
  font-size: 3rem;
  font-weight: bold;
  color: aliceblue;
}

.Multipliers-Wrap {
  grid-area: 2 / 4 / 7 / 5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 1px;
}

.Multipliers-Wrap > button {
  background-color: rgb(248, 141, 53);
  border: none;
  font-size: 1.5rem;
  color: rgb(24, 24, 24);
  cursor: pointer;
}

.Numbers-Wrap {
  grid-area: 2 / 1 / 7 / 4;
  display: grid;
  background-color: rgb(165, 165, 165);
  border-right: 1px solid rgb(165, 165, 165);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.Numbers-Wrap > button {
  background-color: rgb(226, 226, 226);
  border: none;
  font-size: large;
  font-weight: 600;
  color: rgb(29, 29, 29);
  cursor: pointer;
}

.Multipliers-Wrap > button:hover {
  background-color: rgb(255, 115, 0);
}

.Numbers-Wrap > button:hover {
  background-color: rgb(184, 184, 184);
}

.Numbers-Wrap > button:nth-child(13) {
  grid-area: 5 / 1 / 6 / 3;
}
